<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit chat</title>
</head>
<body>
    <h1>Edit your Chat</h1>
    <form action="">
        <textarea name="" id=""><%= chat.msg %></textarea>
    </form>
</body>
</html>