<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new-chat</title>
</head>
<body>
    
    <h1>new chat</h1>
    <form method="POST" action="newchat">
        <input type="text" name="from" placeholder="enter your name " ><br><br>
        <input type="text" name="to" placeholder="enter reciver name"><br><br>
        <textarea name="msg" id="" placeholder="enter here your massege"></textarea>
        <button>send</button>
    </form>
</body>
</html>